<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Yelp MVP</a>
  <%= link_to "New restaurant", new_restaurant_path, class: "btn btn-primary" %>
</nav>

<div class="container">
  <h1>Restaurants</h1>
  <div id="restaurants">
    <% @restaurants.each do |restaurant| %>
      <%= render restaurant %>
      <p>
        <%= link_to "Show this restaurant", restaurant %>
      </p>
    <% end %>
  </div>
</div>
