<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Yelp MVP</a>
  <%= link_to "New restaurant", new_restaurant_path, class: "btn btn-primary" %>
</nav>
<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Restaurants</h1>
  <div id="restaurants" class=" bg-light">
    <% @restaurants.each do |restaurant| %>
      <%= render restaurant %>
      <p>
        <%= link_to "See details", restaurant, class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
