<div id="<%= dom_id review %>" class="d-flex bg-warning">
    <div class="me-3">
        <strong>Rating:</strong> <%= review.rating %>
    </div>
    <div>
        <strong>Content:</strong> <%= review.content %>
    </div>
</div>
